@font-face {
  font-family: "TTLakes-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTLakes-Regular.woff2") format("woff2"), url("../fonts/TTLakes-Regular.woff") format("woff");
}
@font-face {
  font-family: "TTLakes-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTLakes-Medium.woff2") format("woff2"), url("../fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
  font-family: "TTLakes-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTLakes-Bold.woff2") format("woff2"), url("../fonts/TTLakes-Bold.woff") format("woff");
}
.menu-rigth__btn, .menu-left__btn-burger {
  border: none;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #F8F8F8;
  font-family: "TTLakes-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.container {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
.header {
  background-color: #fff;
}
.header__inner {
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.menu-rigth__application {
  display: flex;
  align-items: center;
  gap: 16px;
}
.menu-rigth__btn:first-child {
  position: relative;
}
.menu-rigth__btn:first-child::before {
  content: "";
  background: #EAEAEA;
  width: 2px;
  height: 32px;
  position: absolute;
  right: 60px;
  top: 5px;
}

.services {
  padding: 24px 0;
}
.services__title {
  font-family: "TTLakes-Bold";
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  margin: 0 0 24px;
  position: relative;
}
.services__title::before {
  content: "";
  background: #41F6D7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 4px;
  height: 40px;
  position: absolute;
  left: -14px;
}
.services__menu-wrapper {
  overflow: hidden;
}
.services__menu {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-mask-image: linear-gradient(to left, transparent, #000 10%);
          mask-image: linear-gradient(to left, transparent, #000 10%);
  padding-bottom: 20px;
  margin-bottom: -20px;
}
.services__menu-items {
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.services__menu-item {
  padding: 9px 12px;
}
.services__menu-item--active {
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}
.services__menu-link {
  font-family: "TTLakes-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
}

.about {
  padding-bottom: 35px;
}
.about__text {
  padding-bottom: 16px;
}
.about__text-wrapper {
  max-height: 90px;
  margin-bottom: 16px;
  overflow: hidden;
}
.about__text-wrapper p {
  margin: 0 0 23px;
}
.about__btn-more {
  border: none;
  background-color: transparent;
  width: 132px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "TTLakes-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.about__img {
  width: 288px;
}/*# sourceMappingURL=style.css.map */