@import 'fonts';

@import 'vars';

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

.container{
    padding: 0 16px;
}

.header{
    background-color: #fff;

    &__inner{
        min-height: 88px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

<<<<<<< HEAD


.menu-left{
    display: flex;
    align-items: center;
    gap: 16px;
    &__btn{
        @extend %btn-style
    }
    &__logo{
        position: relative;
    }
    &__logo::after{
        content: "";
        background: #EAEAEA;
        width: 2px;
        height: 32px;
        position: absolute;
        right: -16px;
        top: 9px;
    }
}

.menu-rigth{
    display: flex;
    align-items: center;
    gap: 16px;
    &__btn{
        @extend %btn-style
    }
}

.services {
    padding: 24px 0;
    &__title{
        font-size: 28px;
        line-height: 40px;
        font-weight: 700;
        margin: 0 0 24px;
        position: relative;
    }
    &__title::before{
        content: "";
        background: #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 4px;
        height: 40px;
        position: absolute;
        left: -14px;
    }
    &__menu-wrapper{
        overflow: hidden;
    }
    &__menu{
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        mask-image: linear-gradient(to left, transparent, #000 10%);
        padding-bottom: 20px;
        margin-bottom: -20px;
    }
    &__menu-items{
        display: flex;
        white-space: nowrap;
        align-items: center;
    }
    &__menu-item{
        padding: 9px 12px;

    }
    &__menu-item--active{
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    &__menu-link{
        color: #7E7E82;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        
    }
=======
.mainmenu{
    list-style: none;
>>>>>>> d663a9ac9dc08c5660fc95976e57f60c58279cb3
}